*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}


.container{

  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: top;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.cont{
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
  position: relative;

}

.what{
  padding-top: 50px
}

.what h2,p{

  text-align: center;
  color: #fff;
}

.modulo{
  margin-top: 20%;
}

.entrar{
  border: 4px solid #000;
  width: 10%;
  margin-top: 20px;
  position: relative;
  left: 45%;
}

a{
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.contain{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../images/fondo-blur.jpg);
  background-size: cover;
}

.register p{
  text-align: center;
  margin-top: 5px;
}

.register{
  width: 320px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px #000000;
  padding: 10px 55px 40px;
}

input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #95afc0;
  background-color: rgba(0,0,0,0.0);
  color: white;
  padding: 12px 20px 2px 20px;
  margin: 5px 0;
}
