*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
/*
.beerportada{
  float:left;
  width: 30%;
  height: 100vh;
  background-image: url(../images/beeramarillorotado.png);
  background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.textoportada{
  width: 80%;
  margin: 150px auto;
}

.textoportada p{
  font-weight: bold;
  margin-top: 40px;
  font-size: 1.2em;
  color: #000;
}
.transparencia2{
  background-color: rgba(86,87,88,0.1);
  width: 100%;
  height: 100vh;
  float: left;
}
*/

.containhome{
  float: right;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
}



.transparencia{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  position: relative;

}
.homelogo{

}
.homelogo img{
  width: 300px;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
}
.what{
  padding-top: 30px
}

.what h2,p{

  text-align: center;
  color: #fff;
}

.modulo{
  padding-top: 10%;
  width: 50%;
  margin: 0 auto;
}
.entra{
  display: inline-block;
  margin-left: 20%;
  border: 3px solid #fff;
  border-radius: 5px;
}

.entra a p{
    padding: 10px 20px;
}

.entra:hover{
  background-color: rgba(0,0,0,0.7)
}
.registrate{
  display: inline-block;
  margin-left: 20%;
  background-color: #E3D555;
  border-radius: 5px;
}

.registrate:hover{
  background-color: rgba(227,213,85,0.7)
}

.registrate a p{
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
}

/*
.entrar{
  border: 3px solid #fff;
  width: 10%;
  margin-top: 20px;
  position: relative;
  left: 45%;
}
*/

a{
  text-align: center;
  color: #fff;
  text-decoration: none;
}
hr{
  border-width: 0.5px;
  border-color: #53575B;
}
footer{
  padding-top: 15%;
  width: 90%;
  margin: 0 auto;
}

footer ul{
    margin-left: 5%;
    margin-top: 15px;
}

footer ul li{
  display: inline-block;
  margin-left: 10px;
}

footer ul li a{
  font-size: 1.2em;
  color: #99A0A7;
  font-weight: bold;
  margin-left: 20px;
}

footer ul li a:hover{
  border-bottom: 1.5px solid #F5BE4F;
  padding-bottom: 5px;
}

/* estilos para pagina mantenimiento*/

 #volveratras{
   position: relative;
   left: 10%;
   top: 10%;
 }

 #volveratras:hover{
   padding-top: 10px;
   border-bottom: 2px solid #000;
 }

.maintenance{
  position: absolute;
  background-image: url(../images/mantenimiento.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* estilos para pagina registro.html  */
.contain{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../images/fondo-blur.jpg);
  background-size: cover;
}

.register p{
  text-align: center;
  margin-top: 5px;
}

.register{
  width: 320px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px #000000;
  padding: 10px 55px 40px;
}

.form{
  margin-top: 20%;
}

.register img {
  margin-top: 5%;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#registro{
  font-weight: bold;
  color: #000;
  width: 50%;
  background-color:#F5BE4F;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 25%;
  margin-top: 20%;
}
#registro:hover{
  box-shadow: 0px 5px 20px #000;
}
.contain .register .form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #95afc0;
  background-color: rgba(0,0,0,0.0);
  color: white;
  padding: 12px 20px 2px 20px;
  margin: 10px 0;
}

.form a p{
  font-size: 0.7em;
  color: gray;
  text-decoration: underline;
}

/*  Stylos de pagina FAQ
*
* define el comportamiento y la apariencia del acordeon de las preguntas y respuestas
* - pageFAQ text central de representacion
* - tab este socalo donde luego se rodea la pregunta y tiene la crucecita
* - tab-content texto de la respuesta
* - transition quedo por default de la pagina que me traje, capaz se puede cambiar
* - aca cuando se pasa a styles.css la url se cambia por url(../images/fondoFAQ.jpg) */
.fondoFAQ{
 position: absolute;
 background-image: url(../images/fondoFAQ.jpg);
 background-size: cover;
 width: 100%;
 height: 100vh;
}
.pageFAQ{
 position: relative;
 margin-left: 20px;
 margin-bottom: 5px;
 width: 60%;
 font-weight: bold;
 background-color:#ffcc33;
 color: #ffcc33;
 overflow: hidden;

}

.tab {
 position: relative;
 margin-left: 20px;
 margin-bottom: 1px;
 width: 60%;
 color: #ffcc33;
 overflow: hidden;
}
.tab input{
 position: absolute;
 opacity: 0;
 z-index: -1;
}
.tab label {
 position: relative;
 display: block;
 padding: 0 0 0 1em;
 background: #000000;
 font-weight: bold;
 line-height: 3;
 cursor: pointer;
}

.tab-content {
 max-height: 0;
 overflow: hidden;
 color:#000;
 background: #fff;
 -webkit-transition: max-height .35s;
 -o-transition: max-height .35s;
 transition: max-height .35s;
}

.tab-content p {
 margin: 1em;
 font-family: 'Source Sans Pro', sans-serif;
 color:#000;
}

/* :checked */
.tab input:checked ~ .tab-content {
 max-height: 10em;
 font-family: 'Source Sans Pro', sans-serif;
}

/* Icon */
.tab label::after {
 position: absolute;
 right: 0;
 top: 0;
 display: block;
 width: 3em;
 height: 3em;
 line-height: 3;
 text-align: center;
 -webkit-transition: all .35s;
 -o-transition: all .35s;
 transition: all .35s;
}


.tab input[type=checkbox] + label::after {
 content: "+";
}

.tab input[type=radio] + label::after {
 content: "\25BC";
}

.tab input[type=checkbox]:checked + label::after {
 transform: rotate(315deg);
}

.tab input[type=radio]:checked + label::after {
 transform: rotateX(180deg);
}

/* Cuando el dispositivo es una tablet */
@media (max-width: 768px){
  .modulo{
    margin-left: 50%;
    transform: translateX(-40%);
    height: 200px;
  }
  .entra{
   margin-left:0%;
   display: block;
  }
  .registrate{
    display: block;
    margin: 10px auto;
  }
}
/* Cuando el dispositivo es un smarthphone */
@media (max-width: 425px){
  .modulo{
    margin-left: 45%;
  }
   footer{
     text-align: center;
     width: 100vw;
   }

  footer ul{
    margin: 0px;
  }

  footer ul li{
    display: block;
    padding: 10px;
    width: 100vw;
    margin: 0px;
  }


}
